<nav class="navbar">
    <h2 class="display-3">@ViewBag.Trail.TrailName</h2>
    <a href="/">Go Home</a>
</nav>
<div class="row">
    <div class="col ml-5">
        <h4>Description</h4>
        <p class="indent">@ViewBag.Trail.TrailDesc</p>
    </div>
    <div class="col-2"></div>
    <div class="col ml-5">
        <h4>Trail Length</h4>
        <p class="indent">@ViewBag.Trail.TrailLength miles</p>
        <h4>Elevation Change</h4>
        <p class="indent">@ViewBag.Trail.ElevationChange feet</p>
        <h4>Latitude</h4>
        <p class="indent">@ViewBag.Trail.Latitude</p>
        <h4>Longitude</h4>
        <p class="indent">@ViewBag.Trail.Longitude</p>
    </div>
</div>
