@model Dish
<div class="text-center pr-5">
    <h2>Edit Hamburger</h2>
</div>
<div class="row">
    <a href="/">Home</a>
</div>

<form asp-action="update" asp-controller="Home" method="POST">
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Chef" class="d-block">Chef's Name</label>
                <span asp-validation-for="Chef"></span>
                <input asp-for="Chef" class="form-control" value="@Model.Chef">
            </div>
            <div class="form-group">
                <label asp-for="Name" class="d-block">Name of Dish</label>
                <span asp-validation-for="Name"></span>
                <input type="text" asp-for="Name" class="form-control" value="@Model.Name">
            </div>
            <div class="form-group">
                <label asp-for="Calories" class="d-block">Calories</label>
                <span asp-validation-for="Calories"></span>
                <input type="text" asp-for="Calories" class="form-control" value="@Model.Calories">
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label asp-for="Tastiness">Tastiness</label>
                <select asp-for="Tastiness" class="form-control">
                    @for(var i=1;i<=5;i++)
                    {
                        if(i == @Model.Tastiness)
                        {
                            <option selected="selected" value="@i">@i</option>
                        }
                        else
                        {
                            <option value="@i">@i</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="col-5">
            <div class="form-group">
                <label asp-for="Description" class="d-block">Description</label>
                <span asp-validation-for="Description"></span>
                <textarea asp-for="Description" class="form-control" rows="5"></textarea>
            </div>
            <div class="text-right">
                <input type="hidden" name="DishID" value="@Model.DishID">
                <button type="submit" class="btn btn-outline-dark">Edit Dish</button>
            </div>
        </div>
    </div>
</form>