

<div class="outline">
    <div class="row">
        <div class="col-2"></div>
        <div class="fullness col-2 text-center">
            <p>Fullness</p>
            <p>@ViewBag.Fullness</p>
        </div>
        <div class="happiness col-2 text-center">
            <p>Happiness</p>
            <p>@ViewBag.Happiness</p>
        </div>
        <div class="meals col-2 text-center">
            <p>Meals</p>
            <p>@ViewBag.Meals</p>
        </div>
        <div class="Energy col-2 text-center">
            <p>Energy</p>
            <p>@ViewBag.Energy</p>
        </div>
        <div class="col-2"> </div>
    </div>
    <div class="row">
        <div class="imagefrm outline p-2 col-8 offset-2">
            <div class="text-center">
                @{
                    if(ViewBag.isAngry == true)
                    {
                        <img src=@string.Format("/images/angry{0}.jpg", ViewBag.randPic) alt="Angry Doggo" script="max-width:100%;">    
                    }
                    else
                    {
                        <img src=@string.Format("/images/happy{0}.jpg", ViewBag.randPic) alt="Happy Doggo" script="max-width:100%;">
                    }
                }
                <p>@ViewBag.Message</p>
            </div>
        </div>
    </div>
    <div class="row gamebuttons">
        @{
            if(ViewBag.GameWon == null)
            {
                <a href="feed" class="btn btn-outline-dark">Feed</a>
                <a href="play" class="btn btn-outline-dark">Play</a>
                <a href="work" class="btn btn-outline-dark">Work</a>
                <a href="sleep" class="btn btn-outline-dark">Sleep</a>
            }
            else
            {

            }
        }
    </div>
    <div class="row restartbutton justify-content-center">
        @{
            if(ViewBag.GameWon == null)
            {
                
            }
            else
            {
                <a href="restart" class="btn btn-outline-dark">Restart?</a>
            }
        }
    </div>
</div>